<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSortable</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Simple list</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shared">Shared lists</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cloning">Cloning</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="disable-sort">Disabling sorting</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handle">Handle</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filter">Filter</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thresholds">Thresholds</NavLink>
        </div>
        <hr style="border: 1px solid white;" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid">Grid</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nested">Nested</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">Events</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
